@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,500&display=swap');

.header {
    background: url("../public/background.jpg") center center no-repeat fixed;
    background-size: cover;
    max-height: 600px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    padding-left: 140px;
    padding-right: 140px;
    font-family: "CircularStd", sans-serif;
    position: fixed;
    width: 100%;

}

li.navbarLink {
    float: left;
}

.navbarRight {
    float: right !important;
}

.gBtn {
    background: #9900ff;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 18px;
    border: 0;
}

.navbarLogin:hover {
    color: white;
}

li.navbarLink  {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

li.navbarLink a:hover {
    cursor: pointer;
}

li.navbarLink .navbarBrand {
    padding: 0;
}


li.navbarLink a.active {
    -webkit-box-shadow: inset 0px -2px 0px 0px red;
    -moz-box-shadow: inset 0px -2px 0px 0px red;
    box-shadow: inset 0px -2px 0px 0px red;
    color: red;
}

.kdf {
    padding-top: 10px;
}

.main {
    padding-left: 150px;
    padding-right: 150px;
}

.mainP {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.mainP > .title {
    color: white;
    text-align: center;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 50px;
}

.desc {
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
}

.description {
    color: white;
    font-family: 'CircularStd', sans-serif;
    padding-top: 3%;
}
.description > .kdlfd {
    font-size: 45px;
    font-weight: bold;
}

.description > .kfpo {
    font-size: 25px;
}


.box {
    background: #1a1a1a;
    width: 100%;
    position: inherit;
    border-radius: 3px;
    -webkit-box-shadow: 3px 10px 29px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 3px 10px 29px -1px rgba(0,0,0,0.31);
    box-shadow: 3px 10px 29px -1px rgba(0,0,0,0.31);    padding: 10px 10px;
    font-family: 'CircularStd', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.kdodf {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.kdodf > .kfdff {
    width: 200px;
    word-break: keep-all;
    text-align: center;
}

.moblieNav {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    background: black;
    padding: 13px;
}

.moblieNav > .navContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.moblieNav > .navContent > div > i {
    color: white;
    font-size: 22px;
}

@media screen and (max-width: 900px) {
    .main {
        padding-left: 10px;
        padding-right: 10px;
    }
    .kdodf {
        flex-direction: row;
    }
    .box {
        overflow: auto;
        padding: 5px;
        margin-top: 20px;
    }
    .kdodf {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
    .moblieNav {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .moblieNav {
        display: block;
    }
}
